/* line 5, ../../../../Users/mu/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Users/mu/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Users/mu/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Users/mu/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Users/mu/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Users/mu/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Users/mu/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Users/mu/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Users/mu/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "lato-light";
  src: url('public/css/fonts/lato-light-webfont.woff') format('woff'), url('public/css/fonts/lato-light-webfont.ttf') format('truetype'), url('public/css/fonts/lato-light-webfont.eot') format('embedded-opentype'), url('public/css/fonts/lato-light-webfont.svg') format('svg');
}
@font-face {
  font-family: "lato";
  src: url('public/css/fonts/lato-regular-webfont.woff') format('woff'), url('public/css/fonts/lato-regular-webfont.ttf') format('truetype'), url('public/css/fonts/lato-regular-webfont.eot') format('embedded-opentype'), url('public/css/fonts/lato-regular-webfont.svg') format('svg');
}
/* line 27, sass/styles.scss */
body {
  background: url("../images/bg.png") no-repeat top center;
  font-family: "lato-light";
}

/* line 32, sass/styles.scss */
.ccard {
  display: block;
  z-index: 21;
  width: 162px;
  height: auto;
  margin: 0;
}

/* line 39, sass/styles.scss */
.tagline {
  position: relative;
  width: 100%;
}
/* line 42, sass/styles.scss */
.tagline p {
  left: 50%;
}

/* line 46, sass/styles.scss */
.footer {
  float: left;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: #28acd9;
}
/* line 54, sass/styles.scss */
.footer ul li {
  float: left;
}
/* line 58, sass/styles.scss */
.footer .text {
  margin-top: 14px;
  color: black;
}

/* line 63, sass/styles.scss */
.navbar {
  position: relative;
  z-index: 1;
  min-width: 100% !important;
  height: 66px;
  padding: 0;
  margin: 0;
  background-color: #9399ce;
  background: url("../images/ISN_header.png") no-repeat top left;
}
/* line 72, sass/styles.scss */
.navbar h1 {
  color: white;
  font: 'lato-light' 1rem;
  position: relative;
  left: 50%;
  top: 50%;
}

/* line 81, sass/styles.scss */
.login {
  float: left;
  width: 331px;
  height: 222px;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background: url("../images/loginia.png") no-repeat top left;
  background-color: #4628d9;
  overflow: hidden;
}

/* line 91, sass/styles.scss */
.signup {
  float: left;
  width: 331px;
  height: 222px;
  margin: 0;
  background: #2871d9 url("../images/signupia.png") no-repeat top left;
  overflow: hidden;
}

/* line 99, sass/styles.scss */
.container-3 {
  position: relative;
  z-index: 13;
  width: 100%;
  height: 442px;
  margin: 0;
  background: url("../images/scape.png") no-repeat bottom left;
  background-color: #db552d;
}

/* line 108, sass/styles.scss */
.c2a_title {
  position: relative;
  clear: both;
  z-index: 9;
  font-size: 2.25em;
  font-weight: 400;
}
