/* line 5, ../../../../../../Users/mu/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Users/mu/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Users/mu/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Users/mu/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Users/mu/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Users/mu/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Users/mu/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Users/mu/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Users/mu/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "lato-light";
  src: url('public/fonts/lato-light-webfont.woff') format('woff'), url('public/fonts/lato-light-webfont.ttf') format('truetype'), url('public/fonts/lato-light-webfont.eot') format('embedded-opentype'), url('public/fonts/lato-light-webfont.svg') format('svg');
}
@font-face {
  font-family: "lato";
  src: url('public/fonts/lato-regular-webfont.woff') format('woff'), url('public/fonts/lato-regular-webfont.ttf') format('truetype'), url('public/fonts/lato-regular-webfont.eot') format('embedded-opentype'), url('public/fonts/lato-regular-webfont.svg') format('svg');
}
/* line 27, ../../sass/styles.scss */
body {
  position: relative;
  background: url("../images/vworld.png") no-repeat center center fixed;
  background-size: cover;
  /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
  -webkit-background-size: cover;
  /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
  -moz-background-size: cover;
  /* optional for Firefox 3.6 */
  -o-background-size: cover;
  /* for Opera 9.5 */
  margin: 0;
  /* to remove the default white margin of body */
  padding: 0;
  /* to remove the default white margin of body */
  font-family: "lato-light", sans-serif;
}

/* line 39, ../../sass/styles.scss */
.entry {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

/* line 44, ../../sass/styles.scss */
.central {
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  width: 45em;
}

/* line 51, ../../sass/styles.scss */
.ccard {
  display: block;
  z-index: 21;
  width: 162px;
  height: auto;
  margin: 0;
}

/* line 58, ../../sass/styles.scss */
.tagline {
  position: relative;
  width: 100%;
  padding: 1em 0;
  font-family: "lato-light", sans-serif;
}
/* line 63, ../../sass/styles.scss */
.tagline h1 {
  font-size: 1.875rem;
}
/* line 66, ../../sass/styles.scss */
.tagline h2 {
  font-size: 1em;
}

/* line 70, ../../sass/styles.scss */
.header {
  position: relative;
  z-index: 1;
  min-width: 100% !important;
  height: 66px;
  padding: 0;
  margin: 0;
  background: url("../images/ISN_header.png") no-repeat top left;
  background-color: #9517ed;
}
/* line 79, ../../sass/styles.scss */
.header h1 {
  display: block;
  color: white;
  font-family: "lato", sans-serif;
  font-size: 1.25em;
  position: relative;
  left: 50%;
  top: 50%;
}

/* line 89, ../../sass/styles.scss */
.login {
  position: relative;
  width: 20.688rem;
  height: 13.875rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background: url("../images/loginia.png") no-repeat top left;
  background-color: #4628d9;
  overflow: hidden;
  flex: 0 0 48%;
}

/* line 100, ../../sass/styles.scss */
.signup {
  position: relative;
  width: 20.688rem;
  height: 13.875rem;
  margin: 0;
  background: #d0021b url("../images/signupia.png") no-repeat top left;
  overflow: hidden;
  flex: 0 0 48%;
}

/* line 109, ../../sass/styles.scss */
.frontmain {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-flow: row multiline;
  -moz-flex-flow: row multiline;
  flex-flow: row multiline;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  position: relative;
  z-index: 13;
  width: 100%;
  height: 442px;
  margin: 0;
  background: url("../images/scape.png") no-repeat bottom left;
  background-color: #50d1e3;
}
/* line 120, ../../sass/styles.scss */
.frontmain img {
  padding-left: 10.8%;
  padding-top: 12.5%;
  height: 13.875em;
  width: 10.438em;
}
/* line 126, ../../sass/styles.scss */
.frontmain p {
  -webkit-flex-grow: 2;
  -moz-flex-grow: 2;
  flex-grow: 2;
  -ms-flex-positive: 2;
  font-size: 1.25rem;
  padding-top: 14.625%;
  padding-left: 1rem;
}

/* line 133, ../../sass/styles.scss */
.c2a_title {
  margin: 25%;
  text-align: center;
  clear: both;
  z-index: 9;
  font-size: 2.25em;
  font-weight: 400;
  color: white;
}

/* line 142, ../../sass/styles.scss */
.footer {
  float: left;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: #004250;
}
/* line 150, ../../sass/styles.scss */
.footer ul li {
  float: left;
}
/* line 154, ../../sass/styles.scss */
.footer .text {
  margin-top: 14px;
  color: black;
}
